

@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&display=swap');


:root {
    --main-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main-content {
    height: 100vh;
    width: 100vw;
}

/* left side styling */

.main-content, .logo {
    display: flex;
    flex-flow: row wrap;
}

.bg-image {
    background-image: url(../assets/simon-lee-BRHLD4L1Hag-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 47vh;

}

h1 {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dd-logo {
    width: 25px;
    height: 25px;
}

/* right side styling */

.right-side {
    display: flex;
    flex-flow: column nowrap;
    width: 60vw;
    justify-content: space-around;
    color: azure;
    background-color: rgb(0, 25, 17);
    outline: 1px solid red;
    font-family: var(--main-font);
}

